{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
{#     {{ form_row(registrationForm.match_perfect_afternoon) }} #}

    {% for test in registrationForm.match_perfect_afternoon%}
    <div>{{form_label(test)}}</div>
    <div>{{form_widget(test)}}</div>

{% endfor %}


        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} 

{% endblock %}

