{% extends 'base.html.twig' %}



{% block stylesheets %}
<link rel="stylesheet" href="/css/faq.css">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg">
        
    <div class="container-fluid">

      <a class="navbar-brand" href="{{path('app_landing')}}"> <img src="img/logo-buddies_1.svg" alt=""> </a>
  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
  
          <li class="nav-item">
            <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" aria-current="page" href="{{path('app_home')}}"><img src="img/icones/icones-nav/commu.svg"></a>
          </li>
  
          <li class="nav-item">
            <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" href="../public/liste-amis.html"><img src="img/icones/icones-nav/amis.svg"></a>
          </li>
  
          <li id="notif" class="nav-item dropdown">
            <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="img/icones/icones-nav/cloche.svg">
            </a>
            <ul class="dropdown-menu">
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="#">
                  <div class="card">
                    <p>je suis une card notification</p>
                  </div>
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="#">
                  <div class="card">
                    <p>je suis une card notification</p>
                  </div>
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="#">
                  <div class="card">
                    <p>je suis une card notification</p>
                  </div>
                </a>
              </li>
            </ul>
  
            <li class="nav-item dropdown">
              <a id="icon-active" class="nav-link d-flex align-items-center justify-content-center me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="img/icones/icones-nav/profil-orange.svg">
              </a>
              <ul class="dropdown-menu">
                <li class="my-3 mx-4">
                  <a class="dropdown-item" href="{{path('app_user_show')}}">
                    <img class="me-2" src="/img/icones/icones-menu-profil/smile.svg" alt="">
                  Mon profil
                  </a>
                </li>
                <li class="my-3 mx-4">
                  <a class="dropdown-item" href="{{path('app_faq')}}">
                    <img class="me-2" src="/img/icones/icones-menu-profil/aide.svg" alt="">
                  Aide
                  </a>
                </li>
                <li class="my-3 mx-4">
                  <a class="dropdown-item" href="{{path('app_charte')}}">
                    <img class="me-2" src="/img/icones/icones-menu-profil/charte.svg" alt=""> 
                    Charte BUDDIES
                  </a>
                </li>
                <li class="my-3 mx-4">
                  <a class="dropdown-item" href="{{path('app_mentions_legales')}}">
                    <img class="me-2" src="/img/icones/icones-menu-profil/mentions-legales.svg" alt=""> 
                    Mentions légales
                  </a>
                </li>
                <li class="my-3 mx-4">
                  <a class="dropdown-item" href="{{ path('app_logout') }}">
                    <img class="me-2" src="/img/icones/icones-menu-profil/deconnexion.svg" alt=""> 
                    Déconnexion
                  </a>
                </li>
              
              </ul>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- FIN NAV -->

    <main>
        <section id="faq" class="container">

            <h1 q>FAQ</h1 q>

              <i class="sticker sticker-left sticker-gameboy"></i>

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Question #1
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate.
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Question #2
                    
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate.
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Question #3
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate.
                    </div>
                </div>
                </div>
            </div>

            <i class="sticker sticker-right sticker-flowervan"></i>

        </section>

#chatbox{
    position: sticky;
    bottom: 0;
    left: 70%;
    height: 7rem;
    width: 42rem;
    background-color: #2C7DA0;
    z-index: 1000;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);

}

#chatbox .accordion .accordion-button{
    height: 7rem;
    box-shadow: none;
    background-color: #2C7DA0;
    color: white;
    border: solid 2px black;
    font-size: 1.8rem;
}

#chatbox .accordion .accordion-button:not(.collapsed) {
    background-color: #2C7DA0;
    color: white;
    border: solid 2px black;
} 


#chatbox img{
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
}

#chatbox .card{
    border: none;

}

#chatbox .accordion-collapse{
    border-right: solid 2px black;
    border-left: solid 2px black;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

#chatbox #message-date p{
    font-size: 1rem;
    color: grey;
}

#their-message p {
    border-radius: 1rem 1rem 1rem 0rem;
    background-color:#F1F0E6;
}

#my-message p {
    border-radius: 1rem 1rem 0rem 1rem;
    background-color: #C3DFEB;
}

#new-message{
    border-top: none;
    border-bottom: solid 2px black;
}

#new-message input{
   border-radius: 2rem;
   border: solid 1px grey;
}
CSS pour le chatbox a mettre dans general.css
CSS du offcanvas liste d'amis a copier coller dans general.css
.offcanvas-body .card img{
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    margin-right: 2rem;
}
Expand
offcanvas.css
2 KB
html du offcanvas liste d'amis a coller  dans les pages : dashboard.html , profil.html , community-acc.html , community-page.html , faq.html , charte.html et mentions-legales.html
<!--OFFCANVAS LISTE AMIS -->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAmis" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">  
      
    <input class="px-3 py-3" type="text" placeholder="Rechercher un ami">
Expand
message.txt
6 KB
<!-- DEBUT CHATBOX --> 

  <aside id="chatbox" class="">

    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button id="btn-chat" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Messagerie
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body px-0 py-0">
            <div id="messages" class="px-4 py-4">
              <div id="message-date" class="text-center mb-4">
                <p>17 sep. 2022 à 17:32</p>
              </div>
              <div id="their-message" class="card flex-row">
                <img class="me-4" src="../public/img/profil/alice.jpg" alt="">
                <p class="px-4 py-4" >Hey! how are you ?</p>
              </div>
              <div id="my-message" class="card flex-row justify-content-end">
                <p class="px-4 py-4" >I'm good, how about you?</p>
                <img class="ms-4" src="../public/img/profil/sam.jpg" alt="">
              </div>
            </div>

            <div id="new-message" class="px-4 py-4">
              <input class="w-100 px-3 py-3" type="text" placeholder="Nouveau message...">
            </div>

          </div>
        </div>
      </div>
      </div>
    </div>

  </aside>

<!-- FIN CHATBOX -->
{# html du nouveau chatbox a coller dans le body des mêmes pages que le offcanvas liste d'amis #}

<!--OFFCANVAS LISTE AMIS -->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAmis" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">  
      
    <input class="px-3 py-3" type="text" placeholder="Rechercher un ami">

    </div>

    <div class="offcanvas-body">

      <!-- -->

      <div class="card">
        <div class="card-body d-flex flex-row align-items-center">

          <div class="d-flex align-items-center">
            <div class="p-2">
              <img src="../public/img/profil/alice.jpg" alt="">
            </div>
            <div class="p-2">
              <h4 class="card-text">Alice Parker</h4>
            </div>
            <div class="ms-auto p-2">
              <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <img src="../public/img/icones/icones-menu-amis/see-more.svg" alt="">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">
                    <img src="../public/img/icones/icones-menu-amis/profil-noir.svg" alt=""> Voir le profil</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/message.svg" alt=""> Envoyer un message</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/retirer-ami.svg" alt=""> Retirer de la liste d'amis</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/bloquer.svg" alt=""> Bloquer</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/signaler.svg" alt=""> Signaler</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- -->

      <div class="card">
        <div class="card-body d-flex flex-row align-items-center">

          <div class="d-flex align-items-center">
            <div class="p-2">
              <img src="../public/img/profil/alice.jpg" alt="">
            </div>
            <div class="p-2">
              <h4 class="card-text">Alice Parker</h4>
            </div>
            <div class="ms-auto p-2">
              <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <img src="../public/img/icones/icones-menu-amis/see-more.svg" alt="">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">
                    <img src="../public/img/icones/icones-menu-amis/profil-noir.svg" alt=""> Voir le profil</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/message.svg" alt=""> Envoyer un message</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/retirer-ami.svg" alt=""> Retirer de la liste d'amis</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/bloquer.svg" alt=""> Bloquer</a></li>
                  <li><a class="dropdown-item" href="#">
                   <img src="../public/img/icones/icones-menu-amis/signaler.svg" alt=""> Signaler</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


  <!-- -->

  <div class="card">
    <div class="card-body d-flex flex-row align-items-center">

      <div class="d-flex align-items-center">
        <div class="p-2">
          <img src="../public/img/profil/alice.jpg" alt="">
        </div>
        <div class="p-2">
          <h4 class="card-text">Alice Parker</h4>
        </div>
        <div class="ms-auto p-2">
          <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             <img src="../public/img/icones/icones-menu-amis/see-more.svg" alt="">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">
                <img src="../public/img/icones/icones-menu-amis/profil-noir.svg" alt=""> Voir le profil</a></li>
              <li><a class="dropdown-item" href="#">
               <img src="../public/img/icones/icones-menu-amis/message.svg" alt=""> Envoyer un message</a></li>
              <li><a class="dropdown-item" href="#">
               <img src="../public/img/icones/icones-menu-amis/retirer-ami.svg" alt=""> Retirer de la liste d'amis</a></li>
              <li><a class="dropdown-item" href="#">
               <img src="../public/img/icones/icones-menu-amis/bloquer.svg" alt=""> Bloquer</a></li>
              <li><a class="dropdown-item" href="#">
               <img src="../public/img/icones/icones-menu-amis/signaler.svg" alt=""> Signaler</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- -->
  
</div>
</div>

<!--FIN OFFCANVAS LISTE AMIS -->


    </main>
{% endblock %}
