{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/connexion.css">
{% endblock %}

{% block body %}
    <main>
        <div id="heroshot">
            <img src="../public/img/logo-buddies_1.svg" alt="">
        </div>

        <div id="form">

           <form method="post">

           {# Code pour faire logout sur la page login #}
{#             {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} #}

                <i class="sticker sticker-right sticker-hello"></i>

                <h2 class="text-center">Bienvenue !</h2>


                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control px-2 py-2 mb-3" autocomplete="email" required autofocus aria-describedby="emailHelp" placeholder="Nom d'utilisateur">
                

                <input type="password" name="password" id="inputPassword" class="form-control px-2 py-2" autocomplete="current-password" placeholder="Mot de passe" required>

                 <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

               
       <div class="d-flex flex-row justify-content-between">
                <button type="submit" class="px-3 py-3">Mot de passe oublié ?</button>

                <button type="submit" class="px-3 py-3">Se connecter</button>
        </div>
                <hr>

                {# il faut regle le css du button pour crée um compte #}
                <button type="submit" id="creation" class=" px-3 py-3"><a class="nav-link" href="{{path('app_register')}}">Crée un compte</a></button>

                <i class="sticker sticker-left sticker-win"></i>

            </form>
        </div>
    </main>
{% endblock %}
