{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Jammers</h1>



    {# Button pour y alle vers la page Register #}
    <a href="{{path('app_register')}}"><button>Page - Register</button></a>
    {# Button pour y alle vers la page Login #}
    <a href="{{path('app_login')}}"><button>Page - Login</button></a>
    {# Button pour y alle vers la page User #}
    <a href="{{path('app_user_show')}}"><button>Page - User</button></a>
    {# Button pour y alle vers la page Admin #}
    <a href="{{path('admin')}}"><button>Page - Admin</button></a>
    {# Button pour y alle vers la page Quiz #}
{#     <a href="{{path('app_quiz')}}"><button>Page - Quiz</button></a> #}
    {# Button pour y alle vers la page Match #}
    <a href="{{path('app_match')}}"><button>Page - Match</button></a>
</div>
{% endblock %}
